CVS
*.orig
*.rej
arm-softmmu
arm-linux-user
armeb-linux-user
alpha-softmmu
alpha-linux-user
i386-softmmu
i386-linux-user
i386-softmmu
i386-linux-user
x86_64-softmmu
x86_64-linux-user
m68k-softmmu
m68k-linux-user
ppc-softmmu
ppc-linux-user
ppc64-softmmu
ppc64-linux-user
ppcemb-softmmu
ppc64abi32-linux-user
ppcemb-linux-user
sparc-softmmu
sparc-linux-user
sparc32plus-linux-user
sparc64-linux-user
mips-softmmu
mipsel-softmmu
mips64-softmmu
mips64el-softmmu
mips-linux-user
mipsel-linux-user
sh4-linux-user
sh4-softmmu
cris-linux-user
cris-softmmu
qemu-img
qemu-img.1
qemu.1
qemu-img.pod
qemu.pod
qemu-tech.html
qemu-doc.html
dyngen
config-host.h
config-host.mak
*.d
